/** 杨任东竹石体-Bold **/
@font-face {
  font-family: 'webfont';
  font-display: swap;
  src: url('//at.alicdn.com/t/webfont_nbi1nseljed.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/webfont_nbi1nseljed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/webfont_nbi1nseljed.woff2') format('woff2'),
  url('//at.alicdn.com/t/webfont_nbi1nseljed.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/webfont_nbi1nseljed.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/webfont_nbi1nseljed.svg#杨任东竹石体-Bold') format('svg'); /* iOS 4.1- */
}